In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

## LAX Flight Operations Data Set

In [2]:
flight_ops_df = pd.read_csv(r'/Users/isaganijulian/Documents/GitHub/LAX_Project/LAX_Flight_Ops.csv')

In [5]:
#Define dictionary
 
column_name_mapping={
    'DataExtractDate' : 'Extract_Date', 
    'ReportPeriod' : 'Report_Period', 
    'FlightType' : 'Flight_Type', 
    'FlightOpsCount' : 'Flight_Ops_Count'
}

# Rename 
flight_ops_df.rename(columns=column_name_mapping, inplace=True)

print(flight_ops_df)

                Extract_Date           Report_Period Flight_Type  \
0     05/10/2021 06:01:09 AM  04/01/2021 12:00:00 AM     Charter
1     05/27/2021 03:16:34 PM  04/01/2021 12:00:00 AM   Scheduled
2     05/10/2021 06:01:09 AM  04/01/2021 12:00:00 AM     Charter
3     05/27/2021 03:16:34 PM  04/01/2021 12:00:00 AM   Scheduled
4     05/27/2021 03:16:34 PM  04/01/2021 12:00:00 AM   Scheduled
...                      ...                     ...         ...
1640  11/14/2023 05:28:19 AM  10/01/2023 12:00:00 AM     Charter
1641  11/14/2023 05:28:19 AM  10/01/2023 12:00:00 AM     Charter
1642  11/15/2023 05:28:26 AM  10/01/2023 12:00:00 AM     Charter
1643  11/18/2023 05:28:20 AM  10/01/2023 12:00:00 AM   Scheduled
1644  11/18/2023 05:28:20 AM  10/01/2023 12:00:00 AM   Scheduled

     Arrival_Departure Domestic_International  Flight_Ops_Count
0            Departure               Domestic                23
1              Arrival               Domestic             12171
2              Arrival          International                 2
3            Departure          International              1928
4            Departure               Domestic             12179
...                ...                    ...               ...
1640         Departure               Domestic                34
1641           Arrival               Domestic                29
1642         Departure          International                 1
1643         Departure               Domestic             17183
1644         Departure          International              4700

[1645 rows x 6 columns]

In [8]:
import pandas as pd 
from datetime import datetime 

# Convert the Extract_Date original format date 
flight_ops_df['Extract_Date'] = pd.to_datetime(flight_ops_df['Extract_Date'], format='%m/%d/%Y %I:%M:%S %p')

# Convert to desired format
flight_ops_df['Extract_Date'] = flight_ops_df['Extract_Date'].dt.strftime('%Y, %B %d, %A %I:%M:%S %p')

# Convert for Report_Period
flight_ops_df['Report_Period'] = pd.to_datetime(flight_ops_df['Report_Period'], format='%m/%d/%Y %I:%M:%S %p')

# Convert to desired format
flight_ops_df['Report_Period'] = flight_ops_df['Report_Period'].dt.strftime('%Y, %B %d, %A %I:%M:%S %p')

In [10]:
# Display basic summary statistics
summary_stats = flight_ops_df.describe()

# Display the number of unique values in each column
unique_counts = flight_ops_df.nunique()

# Display the data types of each column
data_types = flight_ops_df.dtypes

# Display missing values count in each column
missing_values = flight_ops_df.isnull().sum()

# Display summary statistics
print("Summary Statistics:")
print(summary_stats)

# Display unique value counts
print("\nUnique Value Counts:")
print(unique_counts)

# Display data types
print("\nData Types:")
print(data_types)

# Display missing values
print("\nMissing Values:")
print(missing_values)

Summary Statistics:
       Flight_Ops_Count
count       1645.000000
mean        5918.041337
std         7911.833770
min            0.000000
25%           11.000000
50%         2796.000000
75%         9854.000000
max        22989.000000

Unique Value Counts:
Extract_Date              104
Report_Period             214
Flight_Type                 2
Arrival_Departure           2
Domestic_International      2
Flight_Ops_Count          890
dtype: int64

Data Types:
Extract_Date              object
Report_Period             object
Flight_Type               object
Arrival_Departure         object
Domestic_International    object
Flight_Ops_Count           int64
dtype: object

Missing Values:
Extract_Date              0
Report_Period             0
Flight_Type               0
Arrival_Departure         0
Domestic_International    0
Flight_Ops_Count          0
dtype: int64

In [11]:
flight_ops_df

,Extract_Date,Report_Period,Flight_Type,Arrival_Departure,Domestic_International,Flight_Ops_Count
0,"2021, May 10, Monday 06:01:09 AM","2021, April 01, Thursday 12:00:00 AM",Charter,Departure,Domestic,23
1,"2021, May 27, Thursday 03:16:34 PM","2021, April 01, Thursday 12:00:00 AM",Scheduled,Arrival,Domestic,12171
2,"2021, May 10, Monday 06:01:09 AM","2021, April 01, Thursday 12:00:00 AM",Charter,Arrival,International,2
3,"2021, May 27, Thursday 03:16:34 PM","2021, April 01, Thursday 12:00:00 AM",Scheduled,Departure,International,1928
4,"2021, May 27, Thursday 03:16:34 PM","2021, April 01, Thursday 12:00:00 AM",Scheduled,Departure,Domestic,12179
...,...,...,...,...,...,...
1640,"2023, November 14, Tuesday 05:28:19 AM","2023, October 01, Sunday 12:00:00 AM",Charter,Departure,Domestic,34
1641,"2023, November 14, Tuesday 05:28:19 AM","2023, October 01, Sunday 12:00:00 AM",Charter,Arrival,Domestic,29
1642,"2023, November 15, Wednesday 05:28:26 AM","2023, October 01, Sunday 12:00:00 AM",Charter,Departure,International,1
1643,"2023, November 18, Saturday 05:28:20 AM","2023, October 01, Sunday 12:00:00 AM",Scheduled,Departure,Domestic,17183
1644,"2023, November 18, Saturday 05:28:20 AM","2023, October 01, Sunday 12:00:00 AM",Scheduled,Departure,International,4700

In [12]:
flight_ops_df.to_csv('flight_ops_df.csv', index=False)