In [18]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [19]:
# import LAX Cargo Csv as cargo_df
cargo_df = pd.read_csv(r'/Users/isaganijulian/Downloads/LAX_Cargo.csv')

In [20]:
# Define dictionary to map old to new column names
column_name_mapping = { 
'DataExtractDate' : 'Extract_Date', 
'ReportPeriod' : 'Report_Period', 
'CargoType' : 'Cargo_Type', 
'AirCargoTons' : 'Tons'
}

#rename
cargo_df.rename(columns=column_name_mapping, inplace=True)

print(cargo_df)

                Extract_Date Report_Period Arrival_Departure  \
0     04/09/2021 10:34:29 AM      Sep 2020           Arrival
1     04/09/2021 10:34:29 AM      Feb 2021           Arrival
2     04/09/2021 10:34:29 AM      Aug 2020           Arrival
3     04/09/2021 10:34:29 AM      Jan 2021           Arrival
4     04/09/2021 10:34:29 AM      Nov 2020           Arrival
...                      ...           ...               ...
1707  08/01/2023 12:00:18 AM      Jun 2023           Arrival
1708  08/01/2023 12:00:18 AM      Jun 2023         Departure
1709  08/01/2023 12:00:18 AM      Jun 2023         Departure
1710  08/01/2023 12:00:18 AM      Jun 2023           Arrival
1711  08/01/2023 12:00:18 AM      Jun 2023           Arrival

     Domestic_International Cargo_Type   Tons
0             International    Freight  86595
1             International    Freight  78931
2             International    Freight  81369
3             International    Freight  82958
4             International    Freight  96096
...                     ...        ...    ...
1707               Domestic       Mail   1566
1708               Domestic       Mail   3428
1709          International       Mail    427
1710               Domestic    Freight  33229
1711          International       Mail    815

[1712 rows x 6 columns]

In [21]:
import pandas as pd 
from datetime import datetime 

# Convert the Extract_Date original format date 
cargo_df['Extract_Date'] = pd.to_datetime(cargo_df['Extract_Date'], format='%m/%d/%Y %I:%M:%S %p')

# Convert to desired format
cargo_df['Extract_Date'] = cargo_df['Extract_Date'].dt.strftime('%Y, %B %d, %A %I:%M:%S %p')

# Convert for Report_Period
cargo_df['Report_Period'] = pd.to_datetime(cargo_df['Report_Period'], format='%b %Y')

# Convert to desired format
cargo_df['Report_Period'] = cargo_df['Report_Period'].dt.strftime('%Y,%B')

print(cargo_df)

                              Extract_Date   Report_Period Arrival_Departure  \
0       2021, April 09, Friday 10:34:29 AM  2020,September           Arrival
1       2021, April 09, Friday 10:34:29 AM   2021,February           Arrival
2       2021, April 09, Friday 10:34:29 AM     2020,August           Arrival
3       2021, April 09, Friday 10:34:29 AM    2021,January           Arrival
4       2021, April 09, Friday 10:34:29 AM   2020,November           Arrival
...                                    ...             ...               ...
1707  2023, August 01, Tuesday 12:00:18 AM       2023,June           Arrival
1708  2023, August 01, Tuesday 12:00:18 AM       2023,June         Departure
1709  2023, August 01, Tuesday 12:00:18 AM       2023,June         Departure
1710  2023, August 01, Tuesday 12:00:18 AM       2023,June           Arrival
1711  2023, August 01, Tuesday 12:00:18 AM       2023,June           Arrival

     Domestic_International Cargo_Type   Tons
0             International    Freight  86595
1             International    Freight  78931
2             International    Freight  81369
3             International    Freight  82958
4             International    Freight  96096
...                     ...        ...    ...
1707               Domestic       Mail   1566
1708               Domestic       Mail   3428
1709          International       Mail    427
1710               Domestic    Freight  33229
1711          International       Mail    815

[1712 rows x 6 columns]

In [28]:
# Display basic summary statistics
summary_stats = cargo_df.describe()

# Display the number of unique values in each column
unique_counts = cargo_df.nunique()

# Display the data types of each column
data_types = cargo_df.dtypes

# Display missing values count in each column
missing_values = cargo_df.isnull().sum()

# Display summary statistics
print("Summary Statistics:")
print(summary_stats)

# Display unique value counts
print("\nUnique Value Counts:")
print(unique_counts)

# Display data types
print("\nData Types:")
print(data_types)

# Display missing values
print("\nMissing Values:")
print(missing_values)

Summary Statistics:
                Tons
count    1712.000000
mean    22752.660047
std     23527.090982
min       330.000000
25%      1657.750000
50%     14916.000000
75%     38419.750000
max    105462.000000

Unique Value Counts:
Extract_Date                84
Report_Period              214
Arrival_Departure            2
Domestic_International       2
Cargo_Type                   2
Tons                      1616
dtype: int64

Data Types:
Extract_Date              object
Report_Period             object
Arrival_Departure         object
Domestic_International    object
Cargo_Type                object
Tons                       int64
dtype: object

Missing Values:
Extract_Date              0
Report_Period             0
Arrival_Departure         0
Domestic_International    0
Cargo_Type                0
Tons                      0
dtype: int64

In [22]:
cargo_df

,Extract_Date,Report_Period,Arrival_Departure,Domestic_International,Cargo_Type,Tons
0,"2021, April 09, Friday 10:34:29 AM","2020,September",Arrival,International,Freight,86595
1,"2021, April 09, Friday 10:34:29 AM","2021,February",Arrival,International,Freight,78931
2,"2021, April 09, Friday 10:34:29 AM","2020,August",Arrival,International,Freight,81369
3,"2021, April 09, Friday 10:34:29 AM","2021,January",Arrival,International,Freight,82958
4,"2021, April 09, Friday 10:34:29 AM","2020,November",Arrival,International,Freight,96096
...,...,...,...,...,...,...
1707,"2023, August 01, Tuesday 12:00:18 AM","2023,June",Arrival,Domestic,Mail,1566
1708,"2023, August 01, Tuesday 12:00:18 AM","2023,June",Departure,Domestic,Mail,3428
1709,"2023, August 01, Tuesday 12:00:18 AM","2023,June",Departure,International,Mail,427
1710,"2023, August 01, Tuesday 12:00:18 AM","2023,June",Arrival,Domestic,Freight,33229
1711,"2023, August 01, Tuesday 12:00:18 AM","2023,June",Arrival,International,Mail,815

In [29]:
cargo_df.to_csv('cargo_df.csv', index=False)